# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
 - List popular languages for Data Science
 - List commonly used libraries by Data Scientists
 - Create a column using Markdown in Jupiter Notebooks
 - Perform arithmetic expressions in Python language

Some of the popular languages that Data Scientists use are:
1. sql
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Seaborn
3. Scikit-learn

| Data Science Tools |
| ------------- |
| Git Hub |
| Jupiter notebooks |
| R |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Evangelina S